html { height: 100%; }


body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #fff;
    color: #333;
    font-size: 100%;
    font-family: 'Open Sans';
}

a {
    border-bottom: 1px solid rgba(0,135,246,0.1);
    color: #e74c3c;
    text-decoration: none;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    transition: .3s ease;
}

a:focus, a:hover {
    outline: none;
    border-bottom: 1px solid #e74c3c;
}

input[type=entry] {
    padding: 2%;
    border: 1px solid #000;
    border: 1px solid rgba(0,0,0,0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #000;
    background: rgba(0,0,0,0.3);
    color: #fff;
    font-weight: 600;
    font-size: 100%;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    transition: .3s ease;
}

input[type=entry]:hover, input[type=entry]:focus, input[type=entry]:active {
    outline: none;
    border: 1px solid #000;
    border: 1px solid rgba(0,0,0,0.3);
    background: #000;
    background: rgba(0,0,0,0.5);
}

input[type=submit] {
    padding: 2%;
    border: 1px solid #e74c3c;
    border: 1px solid rgba(255,255,255,0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #0065d4;
    color: #fff;
    font-weight: 600;
    font-size: 100%;
    cursor: pointer;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    transition: .3s ease;
}

input[type=submit]:hover, input[type=submit]:focus, input[type=submit]:active {
    outline: none;
    border: 1px solid #0087f6;
    border: 1px solid rgba(255,255,255,0.2);
    background: #e74c3c;
}

h1 {
    font-weight: 300;
    font-size: xx-large;
}

h2 {
    font-weight: 300;
    font-size: x-large;
}

h3 {
    font-weight: 400;
    font-size: large;
}

code {
    font-weight: 600;
    font-size: 110%;
    font-family: monospace;
    line-height: 120%;
}

section {
    margin: 0;
    padding: 0 20%;
}

footer {
    padding: 1% 20%;
    border-top: 1px solid #222;
    background-color: #2d2d2d;
    color: #FFFFFF;
    font-size: 85%;
    text-align: center;
}

footer a {
    border-bottom: 1px solid rgba(220,220,220,0.1);
    color: #dedede;
    text-decoration: none;
}

footer a:focus, footer a:hover {
    border-bottom: 1px solid #dcdcdc;
    text-decoration: none;
}

#home {
    height: 100%;
    background-color: #FFFFFF;
    background-image: url(../img/streamLine-2.png);
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    color: #DAE3ED;
    overflow-x:scroll;
}

#home a {
    border-bottom: 1px solid rgba(255,255,255,0.1);
    color: #fff;
}

#home a:focus, #home a:hover {
    border-bottom: 1px solid #fff;
}

#home .title {
    font-size: 500%;
    position: relative;
    top: 25%;
}

#home .content {
    position: relative;
    font-size: 120%;
    top: 15%;
}

#home .code {
    background: rgba(0,0,0,0.5);
    padding: 2%;
    border-radius: 3px;
}

#home .social {
    padding: 3%;
    text-align: center;
}

#home .social a {
    padding: 1%;
    border: none;
}

#home .social img {
    -webkit-opacity: 0.7;
    -moz-opacity: 0.7;
    opacity: 0.7;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    transition: .3s ease;
}

#home .social img:hover {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}

#home2 {
    height: 100%;
    /*background-image: url(../img/darkBlue.png);*/
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    overflow-x:scroll;
}

#home2 a {
    border-bottom: 1px solid rgba(255,255,255,0.1);
    color: #fff;
}

#home2 a:focus, #home a:hover {
    border-bottom: 1px solid #fff;
}

#home2 .title {
    font-size: 400%;
    position: relative;
}

#home2 .content {
    position: relative;
    font-size: 100%;
}

#home3 {
    height: 100%;
    background-image: url(../img/streamLine-web.jpg);
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    overflow-x:scroll;
}

#home3 a {
    border-bottom: 1px solid rgba(255,255,255,0.1);
    color: #fff;
}

#home3 a:focus, #home a:hover {
    border-bottom: 1px solid #fff;
}

#home3 .title {
    font-size: 300%;
    position: relative;
    top: 25%;
}

#home3 .content {
    position: relative;
    font-size: 100%;
    top: 25%;
}

#home4 {
    height: 100%;
    background-image: url(../img/bgcups.png);
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    overflow-x:scroll;
}

#home4 a {
    border-bottom: 1px solid rgba(255,255,255,0.1);
    color: #fff;
}

#home4 a:focus, #home a:hover {
    border-bottom: 1px solid #fff;
}

#home4 .title {
    font-size: 300%;
    position: relative;
    top: 25%;
}

#home4 .content {
    position: relative;
    font-size: 100%;
    top: 25%;
}

#home5 {
    height: 100%;
    background-image: url(../img/bgcopy.jpg);
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    overflow-x:scroll;
}

#home5 a {
    border-bottom: 1px solid rgba(255,255,255,0.1);
    color: #fff;
}

#home5 a:focus, #home a:hover {
    border-bottom: 1px solid #fff;
}

#home5 .title {
    font-size: 300%;
    position: relative;
    top: 25%;
}

#home5 .content {
    position: relative;
    font-size: 100%;
    top: 25%;
}

#home6 {
    height: 100%;
    background-image: url(../img/intro.jpg);
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    overflow-x:scroll;
}

#home6 a {
    border-bottom: 1px solid rgba(255,255,255,0.1);
    color: #fff;
}

#home6 a:focus, #home a:hover {
    border-bottom: 1px solid #fff;
}

#home6 .title {
    font-size: 300%;
    position: relative;
    top: 5%;
}

#home6 .content {
    position: relative;
    font-size: 100%;
    top: 5%;
}

#home7 {
    height: 100%;
    background-image: url(../img/numix.jpg);
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    overflow-x:scroll;
}

#home7 a {
    border-bottom: 1px solid rgba(255,255,255,0.1);
    color: #fff;
}

#home7 a:focus, #home a:hover {
    border-bottom: 1px solid #fff;
}

#home7 .title {
    font-size: 300%;
    position: relative;
    top: 5%;
}

#home7 .content {
    position: relative;
    font-size: 100%;
    top: 5%;
}

#home8 {
    height: 100%;
    background-image: url(../img/calculator.jpg);
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    overflow-x:scroll;
}

#home8 a {
    border-bottom: 1px solid rgba(255,255,255,0.1);
    color: #fff;
}

#home8 a:focus, #home a:hover {
    border-bottom: 1px solid #fff;
}

#home8 .title {
    font-size: 300%;
    position: relative;
    top: 5%;
    display: inline-block;
}

#home8 .content {
    position: relative;
    font-size: 100%;
    top: 5%;
}



.right {
    padding: 1%;
    float: right;
}

.left {
    padding: 1%;
    float: left;
}

.center {
    padding: 1%;
    float: center;
}

.content { 
    padding: 5% 0;
}

::-webkit-scrollbar { 
    display: none; 
}

@media screen and (max-width: 640px) {
    body { font-size: 85%; }
    section { padding: 0 10px; }
    footer { padding: 10px 5px; }
    .content { padding: 10px 0; }
}
/**************************************************************/
.team-member {
    margin-bottom: 50px;
    text-align: center;
}

.team-member img {
    margin: 0 auto;
    border: 7px solid #fff;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

.team-member p {
    margin-top: 0;
}
.team-member {
    margin-bottom: 50px;
    text-align: center;
}

.team-member img {
    margin: 0 auto;
    border: 7px solid #fff;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
    font-weight: bold;
    font-size: 110%;
}

.team-member p {
    margin-top: 0;
}
.bg-light-gray {
	background-color: @gray-lighter;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #fed136;
}

.team-member {
    font-size: 200%; 
}

#team {
    background-color: white;
}

 h2.section-heading {
	 	font-size: 50px;
        font-weight: bold;
		margin-top: 50px;
		margin-bottom: 15px;
    }
/***********************************contact******************/

section#contact {
    background-color: #222;
    background-image: url(../img/map-image.png);
    background-position: center;
    background-repeat: no-repeat;
}

section#contact .section-heading {
    color: #fff;
    margin-top: 120px;
}

section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    height: 236px;
}

section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}

section#contact::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact::-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact .text-danger {
    color: #e74c3c;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}